@model List<MyContacts.Models.Contact>
@{
    ViewData["Title"] = "Contact List";
}

<a class="btn btn-primary" asp-controller="Contact" asp-action="Add">Add Contact</a>

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            @Html.DisplayNameFor(Model => Model[0].Email)
        </th>
        <th>
            Phone Number
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Contact" asp-action="Edit" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.FirstName)</a>
            </td>
            <td>
                <a asp-controller="Contact" asp-action="Edit" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug">@Html.DisplayFor(modelItem => item.LastName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a>
                <a asp-controller="Contact" asp-action="Details" asp-route-id="@item.ContactId" asp-route-slug="@item.Slug">Details</a>
                <a asp-controller="Contact" asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
            </td>
        </tr>
    }
</table>
